.countryCardAdminDiv {
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.contentCardAdminDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(202, 201, 201);
}

.imgFlagAdminDiv {
    width: 100%;
    height: 350px;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (max-width: 768px) {
    .contentCardAdminDiv {
        width: 100%;
    }
}

.imgFlagAdmin1 {
    width: 90%;
    height: 300px;
}

.titleAdminDiv {
    display: flex;
    box-sizing: border-box;
    padding-left: 40px;
    flex-direction: column;
    width: 100%;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    justify-content: center;
    text-align: left;
    background-color: #9c9c9c;
    color: #ffffff;;
    border-radius: 20px;
    margin-bottom: 10px;
}

.addMedalAdminDiv {
    width: 100%;
    height: 10%;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 5%;
}

.buttonAdd {
    width: 95%;
    border-radius: 20px;
    margin-top: 30px;
    background-color: rgb(112, 112, 112); /* Inicialmente transparente */
    border: none; /* Borda azul para todos os estados */
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.addMedalSection {
    width: 50%;
    height: 100px;
}

.addMedalSection button:hover {
    background: #727272;
    color: #e9f4fb;
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.medalContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.modalityContainer {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    width: 30%;
    height: 35px;
    background-color: #adadad;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.selectInput {
    width: 70%;
    height: 30px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #adadad;
}

.typeMedalButton {
    width: 25%;
    height: auto;
    margin-top: 8px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.iconMedal{
    width: 30px;
    height: auto;
    margin-left: 5px;
}

.radioContainer{
    display: flex;
    flex-direction: row;
    background-color: #adadad;
    border-radius: 30px;
    margin-left: 20px;
}

.radioContainer:hover {
    background: #727272;
    color: #e9f4fb;
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.modalityContainer:hover {
    background: #727272;
    color: #e9f4fb;
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}
.modalityContainer .selectInput:hover {
    background: #727272;
    color: #e9f4fb;
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.headerCardCountryAdminDiv {
    width: 100%;
    height: 60px;
    margin-top: 25px;
    display: flex;
}

.backDivAdmin {
    width: 90%;
    display: flex;
    padding-left: 3%;
    box-sizing: border-box;
    background-color: rgb(160, 201, 162);
    color: #303030;
    align-items: center;
}

.changeViewAdminDiv {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /*faz com que o padding se restrinja à borda da div, isto é, ao tamanho estabelecido em width*/
    background-color: rgb(170, 168, 201);
    width: 10%;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

.buttonChangeView {
    width: 70px;
    height: auto;
}

.changeViewAdminDiv .buttonChangeView:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.imgBackAdmin {
    width: 60px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.imgBackAdmin:hover {
    transform: scale(1.05);
    cursor: pointer;
}
